@font-face {
    font-family: kalameh;
    src: url("../../fonts/Kalameh(FaNum)-Black.ttf");
    font-weight: 900;
}

@font-face {
    font-family: kalameh;
    src: url("../../fonts/Kalameh(FaNum)-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: kalameh;
    src: url("../../fonts/Kalameh(FaNum)-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: kalameh;
    src: url("../../fonts/Kalameh(FaNum)-Thin.ttf");
    font-weight: 100;
}