@font-face {
    font-family: kalamehBlack;
    src: url("../../fonts/Kalameh(FaNum)-Black.ttf");
}

@font-face {
    font-family: kalamehBold;
    src: url("../../fonts/Kalameh(FaNum)-Bold.ttf");
}

@font-face {
    font-family: kalamehRegular;
    src: url("../../fonts/Kalameh(FaNum)-Regular.ttf");
}

@font-face {
    font-family: kalamehThin;
    src: url("../../fonts/Kalameh(FaNum)-Thin.ttf");
}