@media (max-width: 1400px) {
    body {
        background-color: cadetblue;
    }

    /*
    ======
    Header
    ======
    */
    .nav-access button {
        font-size: 18px;
        padding: 5px 5%;
    }

    .header-content {
        margin-top: 10%;
    }

    .header-content h1 {
        font-size: 100px;
        line-height: 100px;
    }

    .header-content p {
        font-size: 25px;
    }

    .header-content button {
        font-size: 15px;
        padding: 12px 30px;
    }

    .header-content-image {
        transform: unset;
    }

    .header-content-image img {
        width: 95%;
        height: auto;
        display: block;
        margin-right: auto;
    }

    /*
    ===================
    Information Section
    ===================
    */
    .information-container {
        margin-right: 10%;
        margin-left: 10%;
    }

    .information-background-image {
        right: 0;
        top: 50%;
    }

    /*
    ==============
    Seller Section
    ==============
    */
    .seller-section {
        padding-right: 10%;
        padding-left: 10%;
    }

    /*
    =============
    Offer Section
    =============
    */
    .offer-content h1 {
        font-size: 45px;
    }

    .offer-content h3, .offer-content p:first-of-type {
        font-size: 20px;
    }

    .offer-content p span {
        font-size: 30px;
    }

    /*
    ============
    News Section
    ============
    */
    .news-content {
        padding-left: 10%;
        padding-right: 10%;
    }

    .social-branding {
        font-size: 60px;
    }
}

@media (max-width: 1200px) {
    body {
        background-color: darksalmon;
    }

    /*
    ======
    Header
    ======
    */
    .nav-access {
        display: none;
    }

    .header-content {
        position: relative;
        z-index: 2;
    }

    .header-content h1 {
        font-size: 120px;
        line-height: 120%;
        text-align: center;
        margin-top: 5%;
    }

    .header-content p {
        text-align: center;
    }

    .header-content button {
        display: flex;
        width: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .header-content-image {
        display: none;
    }

    /*
    ===================
    Information Section
    ===================
    */
    .information-background-image {
        display: none;
    }

    .information-container .row, .information-avatar {
        justify-content: center;
    }

    .information-cover {
        margin-bottom: 50px;
    }

    .information-description h4, .information-description p {
        text-align: center;
    }

    /*
    ==============
    Seller Section
    ==============
    */
    .seller-background-images img:nth-of-type(2), .seller-background-images img:nth-of-type(3) {
        display: none;
    }

    .seller-background-images img:nth-of-type(1) {
        top: 5%;
    }

    /*
    =============
    Offer Section
    =============
    */
    .offer-content h3, .offer-content p:first-of-type, .offer-content h1 {
        text-align: center;
    }

    .offer-content {
        padding-right: 10%;
        padding-left: 10%;
    }

    /*
    =============
    Order Section
    =============
    */
    .order-section .row {
        justify-content: center;
    }

    .order-section h2 {
        display: none;
    }

    .order-cover {
        align-content: center;
    }

    /*
    ============
    News Section
    ============
    */
    .news-content .row .col-lg-4 {
        margin-top: 24px;
    }

    .news-content h1 {
        font-size: 54px;
    }

    /*
    ====================
    Social Media Section
    ====================
    */
    .social-row, .social-gallery {
        flex-wrap: wrap;
        justify-content: center;
    }

    .social-item {
        width: 45%;
    }

    .social-branding {
        font-size: 54px;
    }

    .social-gallery img {
        width: 33.3%;
    }

    .social-gallery img:last-of-type {
        width: 100%;
    }
}

@media (max-width: 992px) {
    body {
        background-color: deepskyblue;
    }

    /*
    ======
    Header
    ======
    */
    .nav-items {
        gap: 45px;
    }

    /*
    ===================
    Information Section
    ===================
    */
    .information-container {
        margin-right: 5%;
        margin-left: 5%;
    }

    .information-description p {
        width: 100%;
    }

    .information-content {
        padding-right: 0 !important;
    }

    /*
    ==============
    Seller Section
    ==============
    */
    .seller-background-images img:nth-of-type(1) {
        top: 0;
    }

    /*
    =============
    Offer Section
    =============
    */
    .offer-content {
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    /*
    ====================
    Social Media Section
    ====================
    */
    .social-gallery img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    body {
        background-color: greenyellow;
    }

    /*
    ======
    Header
    ======
    */
    nav, .header-content {
        justify-content: center;
    }

    header {
        height: auto;
        min-height: auto;
        padding-bottom: 15%;
    }

    .nav-items {
        display: none;
    }

    .header-content h1 {
        font-size: 80px;
    }

    /*
    ==============
    Seller Section
    ==============
    */
    .seller-section .row .col-sm-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    /*
    =============
    Offer Section
    =============
    */
    .offer-cover img {
        height: 500px;
    }

    /*
    ====================
    Social Media Section
    ====================
    */
    .social-item {
        width: 80%;
    }
}

@media (max-width: 576px) {
    body {
        background-color: lightgreen;
    }

    /*
    ======
    Header
    ======
    */
    .header-background-images img {
        display: none;
    }

    .header-content h1 {
        font-size: 60px;
    }

    .header-content p {
        font-size: 18px;
    }

    /*
    ==============
    Seller Section
    ==============
    */
    .seller-title h1 {
        font-size: 40px;
    }

    .seller-title h3 {
        font-size: 25px;
    }

    /*
    ====================
    Social Media Section
    ====================
    */
    .social-gallery img {
        width: 100%;
    }
}